extends layout

block content

    h2 iFOTOS
    h3 Intelligent Personal Photo Gallery

    pre
        | This sample app demonstrates how to implement intelligent photo album application using Azure PaaS services
        | 
        | - Azure App Service: hosts node.js web application
        | - Azure Blob: stores images in primary/secondary sites
        | - Azure Cognitive API: gets images caption and tags
        | - Azure Function: processes thumbnail, 
        | - Azure Search: searchs images by keyword. it provides paging and facet
        | - Azure Traffic Manager: handles DR

